
@{
    ViewBag.Title = "PrikazStudenta";
}
@{
    Layout = null;
}
@using WEB_PROJEKAT.Models
@model Student

<style>
    body {
        background-color: #1068e1
    }

    #tabela{
        color: #ffffff;
        font-size:20px;
    }

    #naslov{
        color: #ffffff;
        font-size:30px;
    }

    #dugme {
        padding: 8px 15px;
        border-radius: 15px;
        background-color: #ffffff;
        color: #1068e1;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s, box-shadow 0.3s;
        cursor: pointer;
    }

    #dugme:hover {
        background-color: #2980b9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>

<h2 id="naslov">Prikaz studenta</h2>

<table id="tabela">
    <tr>
        <td>Korisnicko ime:&nbsp;@Model.KorisnickoIme</td>
    </tr>
    <tr>
        <td>Broj indeksa:&nbsp;@Model.BrojIndeksa</td>
    </tr>
    <tr>
        <td>Sifra:&nbsp;@Model.Sifra</td>
    </tr>
    <tr>
        <td>Ime:&nbsp;@Model.Ime</td>
    </tr>
    <tr>
        <td>Prezime:&nbsp;@Model.Prezime</td>
    </tr>
    <tr>
        <td>Datum rodjenja:&nbsp;@Model.DatumRodjenja</td>
    </tr>
    <tr>
        <td>Email:&nbsp;@Model.ElektronskaPosta</td>
    </tr>
    <tr>
        <td>Prijavljeni ispiti:&nbsp;@Model.Prijavljen</td>
    </tr>
    <tr>
        <td>Polozeni ispiti:&nbsp;@Model.Polozen</td>
    </tr>
    <tr>
        <td>Nepolozeni ispiti:&nbsp;@Model.Nepolozen</td>
    </tr>
</table>

<form action="~/Home/Admin">
    <input id="dugme" type="submit" value="Nazad"/>
</form>
